.DS_Store
node_modules
/dist
/public/assets/super_mario_kart_original
/public/assets/super_mario_kart_no_sprites

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
